node_modules
dist
.env
*.env.local

# Netlify
.netlify

# Storybook
storybook-static
build-storybook.log
*storybook.log

# PNPM
.pnpm-debug.log*

# Turborepo
.turbo

# Tanstack Start
.output
.nitro
.tanstack
.vinxi
.wrangler
__unconfig*
count.txt

# Claude
.claude/worktrees

# Claude
.claude
